@font-face {
  font-family: "RF Dewi";
  src: url("/fonts/rf-dewi/RFDewi-Regular.woff2") format("woff2"),
       url("/fonts/rf-dewi/RFDewi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi";
  src: url("/fonts/rf-dewi/RFDewi-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RF Dewi";
  src: url("/fonts/rf-dewi/RFDewi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


*{
  margin: 0;
  padding: 0;
  font-family: "RF Dewi";
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

#main{
  width: 100%;
}

#hero{
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
}

#nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 20px 40px;
}


#nav a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

#heading{
  margin-top: 90px;
}

#heading h1{
  margin-left: 30px;
  opacity: 0.6;
  line-height: 1;
  font-size: 10vw;
  text-transform: uppercase ;
  font-weight: 700;
}

#heading #secondh1{
  margin-left: 170px;
}

.blocktext{
  width: fit-content;
}

.blocktext h5{
  text-transform: uppercase;
  font-size: 15px;
  text-align: right;
}

#smallheadings{
  margin-top: 100px;
  padding: 50px;
}

#smallheadings h5{
  text-align: right;
  font-size: 1vw;
  margin-top: 0.5vw;
  text-transform: uppercase;
}

#herofooter{
  padding: 0 2vw;
  width: 100%;
  position: absolute;
  bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#herofooter a{
  text-decoration: none;
  color: #fff;
}
#herofooter #iconset{
  display: flex;
  gap: 5px;
}

#herofooter .circle{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
}

#second{
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: black;
  padding-top: 200px;
  padding-right: 10vw;
}

.elem{
  border-top: 1px solid #888;
  width: 100%;
  padding: 2vw 1vw;
}